.notify{
    .notify-popup{
        z-index:100000 !important;
    }
}

#wrapper{
    .page{
        .block{
            .content{
                margin-top: 38px;
                height: 97%;
                .head{
                    .close{
                        margin-top: 12px;
                        margin-right: 7px;
                    }
                }
                .body{
                    .block-inner{
                        padding: 0 60px !important;
                    }
                }
            }
        }
    }
}
