<div class="multi-question-button-view">
    <button class="prev-button display-none"></button>
    <button class="try-again-button display-none"></button>
    <button class="next-button display-none"></button>
</div>
